@model ProductDto
@{
}



<div class="row">
    <div class="col-mb8 mx-auto rounded border p-3">
       <h2 class="text-center mb-5">Create</h2>

       <form method="post" enctype="multipart/form-data">
           <div class="row mb-3
               <label class="col-sm-4 col-form-label">Name</label>
               <div class="col-sm-8">
                   <input class="form-control" asp-for="Name" />
                   <span asp-validation-for="Name" class="text-danger"></span>
                <</div>
           </div>

            <div class="row mb-3
               <label class="col-sm-4 col-form-label">Fecha</label>
               <div class="col-sm-8">
                   <input class="form-control" asp-for="Fecha" />
                   <span asp-validation-for="Fecha" class="text-danger"></span>
                <</div>
           </div>


            <div class="row mb-3
               <label class="col-sm-4 col-form-label">Clave</label>
               <div class="col-sm-8">
                   <input class="form-control" asp-for="Clave" />
                   <span asp-validation-for="Clave" class="text-danger"></span>
                <</div>
           </div>


            <div class="row">
               <div class="offset-sm-4 col-sm-4 d-grid">
                   <button type="submit" class="btn btn-primary">Create</button>
                <</div>
           </div>


            <div class="row">
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index" role="button">
                        Cancel
                    </a>
                    
                </div>
            </div>
       </form>

    </div>

</div>
